name: Build and Deploy to GitHub Pages

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Build and Deploy
        uses: ./.github/actions/build-and-deploy
        with:
          enable_sourcemaps: 'true'
          fetch_depth: '0'
          release_version: ${{ github.sha }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
