name: Build and Deploy to GitHub Pages

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Build and Deploy
        uses: ./.github/actions/build-and-deploy
        with:
          enable_sourcemaps: 'true'
          release_version: ${{ github.sha }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
